.pio
.vscode/


/app-android/.idea/
/app-android/*.iml
/app-android/.gradle/
/app-android/build/
/app-android/local.properties
/app-android/.DS_Store
/app-android/captures/
/app-android/.externalNativeBuild/
/app-android/.cxx/